In [64]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [65]:
## load data from txt file
data = pd.read_csv('../data/author_lovuan.txt', sep='\t', header=None)

# separate data into 2 columns into community and its members
data = data[0].str.split('[', expand=True)
data = data[1].str.split(']', expand=True)
data.columns = ['community', 'members']

data

   community                                            members
0          0     696, 698, 699, 700, 701, 702, 703, 704, 705...
1          1     863, 864, 865, 866, 867, 868, 869, 870, 871...
2          2     905, 906, 907, 908, 909, 910, 911, 912, 913...
3          3     843, 844, 845, 846, 847, 848, 849, 850, 851...
4          4     803, 804, 805, 806, 807, 808, 809, 810, 811...
5          5     750, 751, 752, 753, 754, 755, 756, 757, 758...
6          6     554, 555, 556, 557, 558, 559, 560, 561, 562...
7          7     726, 727, 728, 729, 730, 731, 732, 733, 734...
8          8     634, 635, 636, 637, 638, 639, 640, 641, 642...
9          9     594, 595, 596, 597, 598, 599, 600, 601, 602...
10        10     452, 453, 454, 455, 456, 457, 458, 459, 460...
11        11     666, 667, 668, 669, 670, 671, 672, 673, 674...
12        12     399, 400, 401, 402, 403, 404, 405, 406, 407...
13        13     533, 534, 535, 536, 537, 538, 539, 540, 541...
14        14     488, 489, 490, 491, 492, 493, 494, 495, 496...
15        15     363, 364, 365, 366, 367, 368, 369, 370, 371...
16        16     230, 231, 232, 233, 234, 235, 236, 237, 238...
17        17     66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76,...
18        18     273, 274, 275, 276, 277, 278, 279, 280, 281...
19        19     323, 324, 325, 326, 327, 328, 329, 330, 331...
20        20    131, 132, 133, 134, 135, 136, 137, 138, 139,...
21        21    196, 197, 198, 199, 200, 201, 202, 203, 204,...
22        22    0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...
23        23    23160, 23161, 23162, 23163, 23164, 23165, 23...

In [66]:
## data of members credibility
data_credibility = pd.read_csv('../data/our_author_credibility_data_main.csv', names=['user_id', 'credibility'])
data_credibility

       user_id  credibility
0            1     2.420914
1            2    10.316012
2            3     3.401616
3            4     4.612664
4            6     0.965335
...        ...          ...
64757  6124988     0.023793
64758  6125564     0.024298
64759  6126251     0.048436
64760  6126510     0.024309
64761  6127321     0.024209

[64762 rows x 2 columns]

In [67]:
d = {}
for i in range(len(data)):
    d[data['community'][i]] = data['members'][i].split(', ')
cred_d = {}
for j in d:
    cred = 0
    for k in d[j]:
        # print(int(k) in data_credibility['credibility'])
        if int(k) in data_credibility['user_id']:
            # print(k, data_credibility['credibility'][int(k)])
            cred += data_credibility['credibility'][int(k)]
    cred_d[j] = cred/len(d[j])
cred_d

{'0': 0.2513059065024346,
 '1': 0.3264002250617275,
 '2': 0.25330127583350154,
 '3': 0.2640114436184783,
 '4': 0.3221473024941974,
 '5': 0.3144754757931372,
 '6': 0.34258595913418854,
 '7': 0.2500320398130893,
 '8': 0.2939948875191222,
 '9': 0.2858811823222729,
 '10': 0.2916235643976604,
 '11': 0.27092313775356075,
 '12': 0.36302374887579975,
 '13': 0.36357677670747324,
 '14': 0.28450409160378726,
 '15': 0.3270199681626723,
 '16': 0.3586669820108446,
 '17': 0.294947425468775,
 '18': 0.38298856972047524,
 '19': 0.37806164890614263,
 '20': 0.46605093857155167,
 '21': 0.5114972755015078,
 '22': 0.6052493713790696,
 '23': 0.09021443000000001}

In [69]:
## load data from txt file
data_page = pd.read_csv('../data/page_lovuan.txt', sep='\t', header=None)

# separate data into 2 columns into community and its members
data_page = data_page[0].str.split('[', expand=True)
data_page = data_page[1].str.split(']', expand=True)
data_page.columns = ['community', 'members']

data_page

  community                                            members
0         0   3, 6, 8, 9, 11, 13, 14, 15, 16, 18, 20, 21, 2...
1         1   0, 1, 2, 4, 7, 23, 25, 27, 28, 30, 31, 32, 34...
2         2   10, 12, 17, 50, 51, 52, 54, 55, 57, 61, 63, 6...
3         3   5, 19, 36, 53, 104, 105, 114, 115, 120, 121, ...
4         4   248, 611, 642, 711, 712, 713, 714, 715, 716, ...
5         5            617, 618, 619, 620, 622, 623, 807, 808

In [72]:
## data of members credibility
data_credibility_page = pd.read_csv('../data/our_page_credibility_data_main.csv', names=['article_id', 'credibility'])

data_credibility_page['credibility'] = data_credibility_page['credibility']/data_credibility_page['credibility'].max()

data_credibility_page

      article_id  credibility
0              6     0.001245
1              8     0.001645
2             10     0.000336
3             12     1.000000
4             23     0.000088
...          ...          ...
1795        2994     0.019823
1796        2995     0.074824
1797        2997     0.004255
1798        2999     0.004985
1799        3000     0.003422

[1800 rows x 2 columns]

In [73]:
d_page = {}
for i in range(len(data_page)):
    d_page[data_page['community'][i]] = data_page['members'][i].split(', ')
cred_d_page = {}
for j in d_page:
    cred = 0
    for k in d_page[j]:
        # print(int(k) in data_credibility['credibility'])
        if int(k) in data_credibility_page['article_id']:
            # print(k, data_credibility['credibility'][int(k)])
            cred += data_credibility_page['credibility'][int(k)]
    cred_d_page[j] = cred/len(d_page[j])
cred_d_page

{'0': 0.03519617760506761,
 '1': 0.04398168555949471,
 '2': 0.026059210511440216,
 '3': 0.03574236575131627,
 '4': 0.02428419680734772,
 '5': 0.013854383454211786}