In [4]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [5]:
# read csv file without itex
df = pd.read_csv('our_page_credibility_data.csv', sep=',', header=None, names=['page_id', 'credibility'])

# sort by credibility
df = df.sort_values(by=['credibility'], ascending=False)

# print first 10 rows

df.head()
# df.head()

      page_id  credibility
2044     3382     1.000000
2027     3356     0.814210
190       736     0.766095
3          12     0.757024
45        307     0.623260

In [6]:
# read csv file without itex
df = pd.read_csv('our_author_credibility_data.csv', sep=',', header=None, names=['author_id', 'credibility'])

# sort by credibility
df = df.sort_values(by=['credibility'], ascending=False)

df.head()

       author_id  credibility
16228     271058     0.376344
21799     433328     0.303465
38231    1392310     0.273596
6426       82928     0.260454
2444       25261     0.234170